<nav class="navbar navbar-dark bg-danger">
    <span class="navbar-brand mb-0 h1" routerLink="/" style="cursor: pointer;">Multi App</span>
    <div class="form-inline" *ngIf="!user">
        <button class="btn btn-success mr-2" routerLink="/login">Login</button>
        <button class="btn btn-warning ml-2" routerLink="/signup">Create Account</button>
    </div>
    <div class="form-inline" *ngIf="user">
        Hello, {{user.displayName}}
        <button class="btn btn-warning ml-2" (click)="logout()">Logout</button>
    </div>
</nav>